<h1><%=@user.company.name%> </h1>
<br>
<h4>Welcome <%=@user.name%>! </h4>

<h4><%= link_to "Create a Project", new_project_path %> </h4>
<h4><%= link_to "View Company Equipment Equipment", assets_path %> </h4>

