// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.center {
  text-align: center;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
  height: 290px;
  text-align: left;
}
